name: Mass Load Tendering

run-name: Tendering - ${{github.event.inputs.pickupNumber}}

on:
  workflow_dispatch:
    inputs:
      pickupNumber:
        required: true
      totalRate:
        required: true
      carrier:
        required: true
      runId:
        required: false

jobs:
  automated_process:
    environment: 'PROD'
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'

      - name: Start Process
        env:
          SHIPPER_REFERENCE: ${{github.event.inputs.pickupNumber}}
          CARRIER: ${{github.event.inputs.carrier}}
          TOTAL_RATE: ${{ github.event.inputs.totalRate }}
          ACCOUNT_ID: ${{secrets.DITAT_ACCOUNT}}
          USERNAME: ${{secrets.USERNAME}}
          PASSWORD: ${{secrets.PASSWORD}}
          N8N_TOKEN: ${{secrets.N8N_TOKEN}}
          RUN_ID: ${{ github.event.inputs.runId }}
        run: |
          ./init.sh